[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"boto3" = "*"
credstash = "*"
docopt = "*"
pyyaml = ">=4.2b1"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
pytest-randomly = "*"
mock = "*"
"flake8" = "*"
mccabe = "*"
hypothesis = "*"
moto = "*"
freezegun = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
